html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  margin-top: 10px;
}

.bg-barra-menu {
  background-color: #17a2b8 !important;
}

.breadcrumb {
  background-color: #e9ecef;
}

.btn-space {
  margin-right: 5px;
}

.top-space {
  margin-top: 5px;
}